*~
*.lx64fsl
crs/code/test/results/
crs/rsync/
*.o
crs/code/docker/*/*.log
crs/code/matchmaker/mm
crs/code/matchmaker/mmhealth
crs/code/matchmaker/mmkiller
crs/code/matchmaker/mmreset
crs/code/matchmaker/tell-amp
**/.xdisplay
capi_logs_*/
crs/code/lisp/cpv-uuid.json
crs/code/lisp/gp-out.json
crs/code/lisp/vds-out.json
crs/code/lisp/gp-status.json
crs/code/lisp/vds-status.json
crs/code/grab-a-func/target/
