## Localized environment variables
**/.env
**/env

## Generated Kubernetes Resources
sandbox/kustomize/base/resources.yaml
sandbox/kustomize/base/cp_config.yaml
.k8s

## Cloned exemplar repositories
cp_root/

## CRS scratch space
crs_scratch/

## DIND cache space
dind_cache/

## CAPI Audit logs
capi_logs/

## LLM creds
**/vertex_key.json

# Devenv
# This is another solution for managing dev environments
# And these entries are ment to prevent accidentally
# committing stuff that others may not be utilizing.
.devenv*
devenv.local.nix
devenv.lock

# direnv
.direnv

# SIFT
*~
*.lx64fsl
crs/code/test/results/
crs/rsync/
*.o
crs/code/docker/*/*.log
crs/code/matchmaker/mm
crs/code/matchmaker/mmhealth
crs/code/matchmaker/mmkiller
crs/code/matchmaker/mmreset
crs/code/matchmaker/tell-amp
**/.xdisplay
capi_logs_*/
crs/code/lisp/cpv-uuid.json
crs/code/lisp/gp-out.json
crs/code/lisp/vds-out.json
crs/code/lisp/gp-status.json
crs/code/lisp/vds-status.json
